<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 80%;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>

    <h4 class="mb-3">로그인 정보 입력</h4>

    <form action="" th:action th:object="${loginForm}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <div>
            <label for="phoneNumber" th:text="#{label.members.phoneNumber}">핸드폰 번호</label>
            <input type="text" id="phoneNumber" th:field="${loginForm.phoneNumber}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="${loginForm.phoneNumber}" />
        </div>
        <div>
            <label for="simplePassword" th:text="#{label.members.simplePassword}">간편 비밀번호</label>
            <input type="password" id="simplePassword" th:field="${loginForm.simplePassword}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="${loginForm.simplePassword}" />
        </div>


        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.login}">로그인</button>
            </div>
        </div>

    </form>

</div>
</body>
</html>