<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 80%;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.addItem}">Add Point</h2>
    </div>

    <hr class="my-4">
    <form action="" th:action th:object="${pointAddForm}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>

        <div>

            <table class="table">
                <thead>
                <tr>
                    <th th:text="#{label.points.point}">현재 Point</th>
                    <th th:text="#{label.points.addPoint}">충전 Point</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input th:field="*{point}"
                               class="form-control" readonly/>
                    </td>
                    <td>
                        <input
                                th:field="*{addPoint}"
                                th:errorclass="field-error" class="form-control"/>
                        <div class="field-error" th:errors="*{addPoint}">
                            수량 오류
                        </div>
                    </td>
                    <td>
                        <button class="w-100 btn btn-secondary btn-lg"
                                onclick="location.href='items.html'"
                                th:onclick="|location.href='@{|/view/order/v1/teas/${itemOrderForm.id}|}'|"
                                type="button" th:text="#{label.item.detail}">Tea Detail
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:type="submit" th:text="#{button.pointCharge}">포인트 충전</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/view/order/v1/points/add}'|"
                        type="button" th:text="#{button.reset}">초기화
                </button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>