<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 80%;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.addItem}">Tea Order</h2>
    </div>

    <hr class="my-4">
    <form action="item.html" th:action th:object="${itemPurchaseForm}" method="post">
        <div>
            <label for="userId" th:text="#{label.order.userId}">User ID</label>
            <input type="text" id="userId" name="userId" class="form-control" value=""
                   th:value="*{userId}" th:field="*{userId}" readonly>
        </div>

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>

        <div>

            <table class="table">
                <thead>
                <tr>
                    <th th:text="#{label.item.id}">Tea ID</th>
                    <th th:text="#{label.item.itemName}">상품명</th>
                    <th th:text="#{label.item.price}">가격</th>
                    <th th:text="#{label.item.quantity}">재고 수량</th>
                    <th th:text="#{label.item.orderQuantity}">주문 수량</th>
                    <th th:text="#{label.item.details}">Tea Detail</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="itemOrderForm, itemOrderFormStat : *{itemOrderFormList}">
                    <td>
                        <input th:field="*{itemOrderFormList[__${itemOrderFormStat.index}__].id}"
                           class="form-control" readonly/>
                    </td>
                    <td>
                        <input th:field="*{itemOrderFormList[__${itemOrderFormStat.index}__].teaName}"
                           class="form-control" readonly/>
                    </td>
                    <td>
                        <input th:field="*{itemOrderFormList[__${itemOrderFormStat.index}__].price}"
                        class="form-control" readonly/>
                    </td>
                    <td>
                        <input th:field="*{itemOrderFormList[__${itemOrderFormStat.index}__].quantity}"
                        class="form-control" readonly/>
                    </td>
                    <td>
                            <input
                                   th:field="*{itemOrderFormList[__${itemOrderFormStat.index}__].orderQuantity}"
                                   th:errorclass="field-error" class="form-control"/>
                            <div class="field-error" th:errors="*{itemOrderFormList[__${itemOrderFormStat.index}__].orderQuantity}">
                                수량 오류
                            </div>
                    </td>
                    <td>
                        <button class="w-100 btn btn-secondary btn-lg"
                                onclick="location.href='items.html'"
                                th:onclick="|location.href='@{|/order/v1/teas/${itemOrderForm.id}|}'|"
                                type="button" th:text="#{label.item.detail}">Tea Detail
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:type="submit" th:text="#{button.order}">주문 하기</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/order/v1/teas}'|"
                        type="button" th:text="#{button.reset}">초기화
                </button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>