<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.order}">주문 정보</h2>
    </div>

    <div>
        <label for="orderId" th:text="#{label.order.id}">Order ID</label>
        <input type="text" id="orderId" name="orderId" class="form-control" value="" th:value="${itemPurchaseForm.id}" readonly>
    </div>
    <div>
        <label for="userId" th:text="#{label.order.userId}">User ID</label>
        <input type="text" id="userId" name="userId" class="form-control" value="" th:value="${itemPurchaseForm.userId}" readonly>
    </div>
    <div>
        <label for="orderList" th:text="#{label.order.list}">주문 목록</label>
        <table class="table" id="orderList">
            <thead>
            <tr>
                <th th:text="#{label.item.id}">Tea ID</th>
                <th th:text="#{label.item.itemName}">Tea 이름</th>
                <th th:text="#{label.item.price}">가격</th>
                <th th:text="#{label.item.quantity}">재고 수량</th>
                <th th:text="#{label.item.orderQuantity}">주문 수량</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="itemOrderForm : ${itemPurchaseForm.itemOrderFormList}">
                <td><a href="" th:href="@{|/view/order/v1/products/${itemOrderForm.id}|}"
                       th:text="${itemOrderForm.id}">Tea ID</a></td>
                <td><a href="" th:href="@{|/view/order/v1/products/${itemOrderForm.id}|}" th:text="${itemOrderForm.teaName}">Tea 이름</a>
                </td>
                <td th:text="${itemOrderForm.price}">0</td>
                <td th:text="${itemOrderForm.quantity}">0</td>
                <td th:text="${itemOrderForm.orderQuantity}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <form th:action="@{/view/order/v1/login/logout}" method="post">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='/login/v1/loginForm.html'"
                        type="submit" th:text="#{button.logout}">로그아웃</button>
            </form>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>